/*
 *  タイマ精度検証プログラムのコンフィギュレーションファイル
 */

INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "timer_check.h"

CRE_TSK(TIMER_CHECK_TASK, { TA_ACT, 0, timer_check_task, MID_PRIORITY, STACK_SIZE, NULL });
